@import "tailwindcss";

@tailwind utilities;

html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    background: #333333;
    width: 0.6rem;
    padding: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 50px;
  }
}

body {
  @apply bg-zinc-900 text-zinc-50;
}
.nav-item {
  @apply rounded-xl text-white/70 px-5 py-1.5 font-semibold hover:bg-zinc-500/20 hover:text-white transition duration-300 max-[450px]:px-3 max-[450px]:py-1 max-[450px]:text-sm max-[600px]:px-3;
}
